.card {
    
background-color: whitesmoke;
border-width:20px;
border-style:solid;
border-color:black;
  }
  
  p {
    color: black;
    display: inline-flex;
    margin: 10px;
  }
  .base-rate-button {
    color: black;
    max-width: 200px;
    float: right;
    background-color: aqua;
    min-height: 40px;
        

  }