.card {
    
background-color: whitesmoke;
border-width:20px;
border-style:solid;
border-color:black;
  }
  
  p {
    color: black;
    display: inline-flex;
    margin: 10px;
    font-size: 120%;
    font-weight: 400;

  }

  .value{
      max-width: 80px;
  }
  
  .base-rate-button {
    color: black;
    max-width: 190px;
    min-width: 190px;
    float: right;
    background-color: aqua;
    min-height: 40px;
      }
#time-header{
   
   text-align: center;
   background-color: whitesmoke;
border-width:20px;
border-style:solid;
border-color:black;

}
body{
    background-color: black;
}